
<div class="container">
  <div class="row row-paragrah text-center">
    <h1> Staff member Login Portal </h1>
    <p>if your are a staff member login to obtain your token from your supervisor </p>

  </div>

</div>

<div class="container">
  <div class="row row-log">
    <div style = "margin: 5em;" class="col text-center">
      <div class="col col-lg-2 text-center btn-group me-2">
      <button  type="button" class="btn btn-primary btn-dev form-control " (click)="login()" >Login</button>
      </div>
      <!-- <div class="col col-lg-2 text-center btn-group">
        <button type="button" class="btn btn-default btn-dev form-control" (click)="logout()" >Logout</button>
      </div> -->
    </div>
  </div>
</div>





